<p>
  <strong>Title:</strong>
  <%= @food_event.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @food_event.description %>
</p>

<p>
  <strong>Meal Type:</strong>
  <%= @food_event.meal_type %>
</p>